link(rel="stylesheet" href="css/main.css")
link(rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic" rel="stylesheet")