*
	box-sizing: border-box
	margin: 0
	padding: 0

// Шаблон колонок, после чего в зависимости от способа решения задачи шаблону добавляется префикс a-, либо b- либо с- и тд. После чего используем директиву @extend и дополняем код в зависимости от случая.

.mst
	font-family: 'Open Sans', sans-serif
	
.mst_wrapper
	height: auto
	min-height: 100vh
	width: 100vw
	padding: 10px 20px 10px 10px
	background: url('../images/wallpaper.jpg') no-repeat
	background-size: cover
	background-position: fixed
	border-bottom: 2px solid #ffffff


.mst_title
	width: 100%
	margin: 0 5px 15px 5px
	font:
		size: 2rem
		weight: 300
	letter-spacing: 3px
	text-align: center
	text-shadow: 0 0 15px #ffffff

.col_subtitle
	text-align: center
	margin: 0 20% 10px 20%
	border-bottom: 1px ridge #A6A6A6

.col_subtitle-center
	text-align: center
	color: #81c483
	font:
		weight: 600
		size: 2.2rem
	
.col_text
	font-size: 0.8rem	
	
.col_text-center
	margin: 2% 5% 
	font-size: 1.3rem
	color: #000000

.col_text-after
	margin: 0 5%
	font-size: 0.9rem
	color: #000000
	
.col_left,
.col_right	
	height: 100%
	min-height: 80vh
	width: 15vw
	min-width: 100px
	margin: 10px
	padding: 10px
	background: rgba(255,255,255, 0.75)
	border: 1px ridge #2E2C26
	border-radius: 20px

	
.col_mid
	height: 100%
	min-height: 80vh
	width: 100%
	margin: 10px
	padding: 20px
	background: rgba(255,255,255, 0.97)
	border: 1.5px groove #2E2C26
	border-radius: 20px
	

@media (max-width: 640px)
	.mst_wrapper
		padding: 0


//The First Way - Flex

.a-col	
	display: flex
	justify-content: space-between

.a-col_subtitle
	@extend .col_subtitle
	
.a-col_subtitle-center
	@extend .col_subtitle-center
	
.a-col_text
	@extend .col_text
	
.a-col_text-center
	@extend .col_text-center

.a-col_text-after
	@extend .col_text-after
	
.a-col_left
	@extend .col_left
	
.a-col_mid
	@extend .col_mid
	
.a-col_right
	@extend .col_right
	
@media (max-width: 640px)
	
	.a-col
		flex-direction: column

	.a-col_left,
	.a-col_mid,
	.a-col_right
		width: 100%
		height: auto
		min-height: 20vh
		margin: 10px 0
		border: none


//The Second Way - Float

.b-col	
	//display: flex
	//justify-content: space-between

.b-col_subtitle
	@extend .col_subtitle
	
.b-col_text
	@extend .col_text
	
.b-col_text-center
	@extend .col_text-center

.b-col_text-after
	@extend .col_text-after
	
.b-col_left
	@extend .col_left
	
.b-col_mid
	@extend .col_mid
	background: #323468
	
.b-col_right
	@extend .col_right
	
@media (max-width: 640px)
	
	.b-col
		//flex-direction: column

	.b-col_left,
	.b-col_mid,
	.b-col_right
		width: 100%
		height: auto
		min-height: 20vh
		margin: 10px 0


